<div class="row">
    <div class="col-sm-12">
        <h2>Username</h2>
        <p>{{user.username}}</p>

        <h2>Name</h2>
        <p>{{user.firstName}} {{user.lastName}}</p>

        <h2>Age</h2>
        <p>{{user.age}}</p>

        <h2>Country</h2>
        <p>{{user.country}}</p>

    </div>
</div>