<main>
    <h1>{{bout.figher1.lastName}} v. {{bout.fighter2.lastName}}</h1>
    <h2>{{bout.fightDate}}</h2>

    <h4>Message Thread</h4>

    {{#each messages}}
        <div id='{{this._id}}'>
            <p>{{this.username}}</p>
            <p>{{this.text}}</p>
            <p>{{this.timestamp}}</p>
            <!--<form id="replyButton" method="GET">
                <button type='submit'>Reply</button>
            </form>-->
        </div>
        <!--<div hidden id='replyDiv'>
            <form id="postReply" method="POST" action="/{{bout._id}}">
                <label for="message" id=>Add Message</label>
                <input id='messageText' type="text" placeholder="Enter Message Here"/>
                <button id="postNewMessage" type="submit">Post</button>
            </form>
        </div>-->
    {{/each}}

    <form id="postMessage" method="POST" action="/{{bout._id}}">
        <label for="message" id='messageLabel'>Add Message</label>
        <input id='messageText' type="text" placeholder="Enter Message Here" name="text"/>
        <label for='parents' id='parentsLabel'>Select Parent based on Username and timestamp</label>
        <select id='parents' name="parent">
            <option value='NoParent'>Not a reply</option>
            {{#each messages}}
                <option value='{{this._id}}'>{{this.username}} Posted: {{this.timestamp}}</option>
            {{/each}}
        </select>
        <button id="postNewMessage" type="submit">Post</button>
    </form>
</main>
<script src='/public/js/messages/messageThreads.js'></script>