<main>
    <h1 id="title">{{title}}</h1>
    <form id="static-form" method="post">
        <div id="fight-card">
            <div class="bouts">
                {{#each allBouts}}
                    
                    <div class="column left">
                        <h3>{{fighter1.firstName}} {{fighter1.lastName}}</h3>
                        <h4>{{fighter1.record.wins}}-{{fighter1.record.losses}}-{{fighter1.record.draws}}</h4>
                        <h4>{{fighter1.age}}</h4>
                        <h4>{{fighter1.height}}</h4>
                        <h4>{{fighter1.weight}}</h4>
                        <h4>{{fighter1.reach}}</h4>
                        <h4>{{cpaProb.fighter1}}</h4>
                        <h4>{{vegasProb.fighter1}}</h4>
                        <h4>{{vegasMoneyLine.fighter1}}</h4>
                        <h4>{{expectedValue.fighter1}}</h4>
                        <div class="form-group">
                            <label for="pickEm" id="pickEm-left">
                            {{fighter1.lastName}}
                            </label>
                            <input type="radio" name="pickEm" id="pickEm"/>
                        </div>
                    </div>
                    <div class="column middle">
                        <h3>VS</h3>
                        <h4>Record</h4>
                        <h4>Age</h4>
                        <h4>Height</h4>
                        <h4>Weight</h4>
                        <h4>Reach</h4>
                        <h4>CPA Win Probability</h4>
                        <h4>Vegas Implied Probability</h4>
                        <h4>Vegas Money Lines</h4>
                        <h4>Cpa Expected Value</h4>
                    </div>
                    <div class="column right">
                        <h3>{{fighter2.firstName}} {{fighter2.lastName}}</h3>
                        <h4>{{fighter2.record.wins}}-{{fighter2.record.losses}}-{{fighter2.record.draws}}</h4>
                        <h4>{{fighter2.age}}</h4>
                        <h4>{{fighter2.height}}</h4>
                        <h4>{{fighter2.weight}}</h4>
                        <h4>{{fighter2.reach}}</h4>
                        <h4>{{cpaProb.fighter2}}</h4>
                        <h4>{{vegasProb.fighter2}}</h4>
                        <h4>{{vegasMoneyLine.fighter2}}</h4>
                        <h4>{{expectedValue.fighter2}}</h4>
                        <div class="form-group">
                            <label for="pickEm" id="formLabel">
                            {{fighter2.lastName}}
                            </label>
                            <input type="radio" name="pickEm" id="pickEm-right"/>
                        </div>
                    </div>
                <hr>
                {{/each}}
            </div>
        </div>
        
    </form>
</main>