<main>
    <form action="POST" method="/PUT_URL_HERE" id="matchUpForm">
        <!-- will receive and display all fighter in a dropdown -->
        <label for="fighter1">Fighter 1: 
            <select name="fighter1" id="fighter1">
                {{#each fighters}}
                <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                {{/each}}
            </select>
        </label>
        <!-- identical to first dropdown, JS must check that fighters selected are not the same person -->
        <label for="fighter2">Fighter 2: 
            <select name="fighter2" id="fighter2">
                {{#each fighters}}
                <option value="{{_id}}">{{firstName}} {{lastName}}</option>
                {{/each}}
            </select>
        </label>
        <button type="submit">Submit</button>
    </form>
    <h2>Upcoming Fights:</h2>
    {{#each upcomingFights}}
    <div class="upcomingFight">
        <h3>{{title}}</h3>
        <p>{{date}}</p>
        <p>{{location}}</p>
    </div>
    {{/each}}
</main>